body {
    margin: 0px;
}

#layout{
    width: 100%;
    height:100vh;
    text-align: center;
    border-collapse: collapse;
}

#menu_superior{
    height: 200px;
    background: #3578E5;
    background-image: url("https://img.freepik.com/fotos-gratis/loja-de-roupas-turva-em-shopping_1258-5.jpg?size=626&ext=jpg");
}
#menu_esquerdo{
    width: 300px;
    background: gray;
    display: block;
    height: 100%;
}
#conteudo {
    background: lightgray;
    width: 100%;
}
#titulo_menu_superior{
    color:lightseagreen;
    font-size: 100px;
    text-shadow: 5px 5px black;
}
#menu_esquerdo ul{
    text-align: left;
    list-style-type: none;
    padding-left: 20px;
}